@{
    ViewData["Title"] = "Libro";
}
@model Travel.Web.ViewModels.LibrosViewModel
<h2>Libro (MVC View)</h2>
<hr class="my-12" />
<h3>ISBN: @Model.ISBN</h3>
<h3>Titulo: @Model.Titulo</h3>
<h3>Autor: @Model.Autor</h3>
<h3>Editorial: @Model.Editorial</h3>
<h3>Sinópsis: @Model.Sinopsis</h3>
<h3>Numero de Páginas: @Model.NPaginas</h3>
<h3><a href="/Libros">Volver</a></h3>




